<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/userListApp.js"></script>
<body>
    <div class="flashes">
        <% if (flashMessages) { %>
            <% if (flashMessages.success) { %>
                <div class="flash success"><%= flashMessages.success %></div>
                <% } else if (flashMessages.error) { %>
                <div class="flash error"><%= flashMessages.error %></div>
            <% } %>
        <% } %>
    </div>
    <div id="nav">
        <div class="login">
            <% if (loggedIn) { %>
                Logged in as <a href="<%=`/users/${currentUser._id}`%>">
                <%= currentUser.fullName %></a>
                <a href="/users/logout">Log Out</a>
            <% } else { %>
                <a href="/users/login">Log In</a>
            <% } %>
            <ul>
                <li><%- include ('users/_usersModal') %></li>
            </ul>
        </div>
    </div>
    <%- body %>
</body>