<h1>User Data for <%= user.fullName %></h1>
<table class="table">
    <tr>
        <th>UserID</th>
        <td><%= user.userid %></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><%= user.fullName %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= user.password %></td>
    </tr>
</table>