</form>
<html>
    <head>
        <title>Edit User Info</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    </head>
    <body>
        <div class="login-main">
            <div class="top-bar">
                <div class="website-emblem">
                    <img src="/views/assets/uwf_logo.png">
                </div>
            </div>
            <div class="data-form">
                <form method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">
                    <h2>Edit user:</h2>
                    <label for="inputFirstName">First Name</label>
                    <input type="text" name="first" id="inputFirstName" value="<%= user.name.first %>"
                        placeholder="First" autofocus>
                    <label for="inputLastName">First Name</label>
                    <input type="text" name="last" id="inputLastName" value="<%= user.name.last %>"
                        placeholder="Last">
                    <label for="inputEmail">Email address</label>
                    <input type="email" name="email" id="inputEmail" value="<%= user.email %>"
                        placeholder="Email address" required>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" value="<%= user.password %>"
                        placeholder="Password" required>
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </body>
    <footer class="login-footer">
        <p>Copyright &copy: 2020 CEN4053 Group 7</p>
    </footer>
</html>